
body
{
 background: #5332fa;
}


.container
{
 background: #fff;   
 width: 800px;
 height: 350px;   
 border-radius: 20px;
 margin-top: 150px;
 margin-left: 250px;
}
.text{
    text-align: left;
    font-size: 28px;
    color: black;
    margin-left: 8px;
    font-weight: bold;
}
.name{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
